*{
	margin: 0;
	padding: 0;
}

:root {
    --footer: #005ab9; /* a specific blue */
    --accent: #000000; /* a black */
}

body {
	background-color: var(--footer);
	font-family: Arial, Helvetica, sans-serif;
}

/********** Base Components **********/
p {
	font-size: 18px;
	line-height: 24px;
	margin: 5px 0;
}

button {
	font-weight: bold;
	outline: none;
}

a {
	text-decoration: none;
}

/********** Extra Components **********/
.shadow { /* Creates a shadow on a div or image */
	box-shadow: 0 0 25px 2px #000000;
}

.lilShadow {
	box-shadow: 0 0 10px 2px #383838;
}

.center { /* Centers a div */
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/********** Header **********/
#header {
	background-image: linear-gradient(#0c78eb, var(--footer)/*#0056b3*/ );
    width: 75%;
    max-width: 725px;
	min-width: 520px;
	height: 60px;
	text-align: center;
    padding: 25px 0 5px 0;
    margin-left: auto;
    margin-right: auto;
}
#title {
	color: #ffffff;
	width: 100%;
}

/********** Page **********/
#pageBackground {
	background-color: #ffffff;
	background-image: url("./media/grid-pattern.png");
	background-repeat: repeat;
}
#page {
	background-color: #eeeeee;
	width: 75%;
	max-width: 723px;
	min-width: 520px;
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0;
    text-align: left;
    border-left: 1px solid var(--footer);
    border-right: 1px solid var(--footer);
}

/********** Main Divs **********/
#graphDiv {
	background-color: #ffffff;
	width: 500px;
	border: 3px solid var(--footer);
	margin-bottom: 10px;
}

canvas {
    background-color: #ffffff;
	border-bottom: 3px solid var(--footer);
	margin: 0;
}

/********** Footer **********/
#footer{
	background-color: var(--footer);
	width: 100%;
	height: 50px;
	padding-top: 15px;
}

.footerBtn {
	background: none;
	color: #ffffff;
	height: 40px;
	margin: 0 15px;
	padding: 0 15px;
	font-size: 16px;
	border-radius: 25px;
	border: 3px solid var(--accent);
	transition-duration: 0.7s;
}
.footerBtn:hover {
	background-color: var(--accent);
	color: #ffffff;
}